html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* ======== NORMALIZE ======== */

h1, h2, ol, ul, li, p, input, form {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


/* ========= TYPOGRAPHY ========== */

html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.75rem;
    font-size: 2.25rem;
    text-align: center;
    color: rgb(236, 225, 210);
    margin: 0 1rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

main, button {
    color: rgb(236, 225, 210);
}


/* ======== GENERAL ======== */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    position: relative;
}

body {
    position: relative;
}

/* Background image on separate pos:absolute div to keep the image from moving on container size change when mobile keyboard opens */
.backgroundImage {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    /* Background image credit Erol Ahmed @erol (https://unsplash.com/photos/IHL-Jbawvvo) */
    background-image: url(./Assets/erol-ahmed-IHL-Jbawvvo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

form {
    text-align: center;
    margin: 1rem 0 1.25rem 0;
}

label {
    margin-left: 0.5rem;
}

input {
    margin: 0 0.5rem;
    padding-left: 0.25rem;
    background-color: rgb(236, 225, 210);
    border-radius: 0.075rem;
    border: none;
    transition: background 0.2s ease-in;
}

input:focus {
    outline: 0.075rem dotted burlywood;
    background-color:rgb(224, 200, 167);
}

input[type=radio] {
    transition: none;
}

ul {
    margin: 0 auto;
}

ol {
    margin: 1.25rem 0 0 0;
    counter-reset: section;
}

ol > li {
    min-width: 10rem;
}

ol > li:before {
    counter-increment: section;
    content: counter(section)'.';
    padding-right: 0.4rem;
}

li {
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

button {
    padding: 0.3rem 0.6rem;
    background-color: rgb(149, 75, 75);
    border: 0.15rem solid rgb(124, 40, 40);
    border-radius: 0.15rem;
    font-family: inherit;
    transition: border 0.2s ease-in;
}

button:hover {
    border: 0.15rem solid burlywood;
}

button:focus {
    outline: 0.075rem dotted burlywood;
}

i {
    color: inherit;
    font-size: 0.75rem;
}

a {
    color: inherit;
    border: 0.075rem dotted transparent;
    transition: color 0.2s ease-in;
}

a:hover {
    color: rgb(228, 122, 122);
}

a:focus {
    border: 0.075rem dotted burlywood;
}

.wrapper {
    width: 60%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======== HEADER ======== */

header .wrapper {
    display: flex;
    align-items: center;
}


/* ======== SEMI-TRANSPARENT BACKGROUND ========= */

.backgroundEffect {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(43, 58, 47);
    opacity: 0.85;
    z-index: -1;
}

.mainWrapper .backgroundEffect {
    border: 0.125rem solid rgba(141, 168, 141, 0.5);
    border-radius: 0.2rem;
}


/* ======== MAIN SECTION ======== */

main {
    min-height: calc(100vh - 7rem);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainWrapper {
    min-height: 12.5rem;
    height: auto;
    padding: 2rem 1.5rem;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}

.toggleForm {
    margin-top: 0.4rem;
}

.radioContainer {
    width: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.radioContainer > li {
    margin: 0;
    padding-top: 0;
}

.numInputContainer input {
    width: 3rem;
}

.altColorLi > input {
    width: 100%;
}

.altColorLi:nth-child(-n+9) input {
    margin-left: 1.1rem;
}

.altColorLi:nth-of-type(2n + 1) {
    background: rgba(138, 175, 148, 0.171);
    border-radius: 0.125rem;
}

.altColorLi:nth-of-type(2n) {
    background: rgba(32, 41, 34, 0.4);
    border-radius: 0.125rem;
}

.resetButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.75rem;
    right: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.125rem 0.35rem;
}

.inactive {
    display: none;
    position: absolute;
}


/* ======== FOOTER ======== */

footer {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 auto 0;
    min-height: 2rem;
    color: rgb(236, 225, 210);
    font-size: .75rem;
}


/* ====================== MEDIA QUERIES =========================== */

@media (max-width: 800px) {
    h1 {
        font-size: 2.25rem;
    }
    .wrapper {
        width: 80%;
    }
    
}

@media (max-width: 650px) {
    .wrapper {
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 0.5rem;
    }
    main {
        padding: 2rem 0;
    }
    label {
        margin-bottom: 0.25rem;
        display: inline-block;
    }
    .numForm input {
        margin-top: 0.5rem;
    }
}